body {
    background-color: #fcf2d1;
    font-family: 'Courier New', sans-serif;
}

h1 {
    font-size: 36px;
    color: #B8860B;
    text-align: center;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    font-weight: bold;
    font-size: 20px;
    color: #B8860B;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #e5c984;
}

iframe {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    border-color: #B8860B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.no-res {
    font-size: 22px;
    color: #d90c0c;
}

.submit-btn {
    background-color: #c4a1ea;
    border-radius: 10px;
    border-color: #f1baff;
    color: whitesmoke;
    height: 45px;
    width: 55px;
    font-weight: bold;
    font-size: large;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}