body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 36px;
    color: #B8860B;
    text-align: center;
}

h1, h2 {
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

iframe {
    width: 100%;
    height: 40vh;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.no-res {
    font-size: 22px;
    color: #d90c0c;
}