<!DOCTYPE html>
<html lang="en">
<head>
    <title>PySearch</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>PySearch</h1>
    <!-- redirect to search function when enter pressed in input -->
    <form action="search" method="get">
        <input type="search" name="searchBox" placeholder="Type here to search">
        <input type="search" name="numberBox" placeholder="Number of results">
        <button type="submit" >Submit</button> <!-- Hidden button to enable Enter submission -->
    </form>
</body>
</html>
