<!DOCTYPE html>
<html lang="en">
<head>
    <title>PySearch - Results</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
<h1>PySearch</h1>
<form action="search" method="get">
        <div class="input-wrapper">
            <input type="search" name="searchBox" placeholder="Type here to search">
            <input type="search" name="numberBox" placeholder="Number of results">
        </div>
    <button type="submit" class="submit-btn">GO</button>
</form>

<h1>Results</h1>
<table>
    <tbody>
    {% if not res %}
        <h2 class="no-res">no results</h2>
    {% else %}
        {% for element in res %}
            <div class="result-wrapper">
                <a href="{{ element['url'] }}" target="_blank">
                    {{ element["title"] }}
                </a>
                <br>

                <iframe src="{{ element['url'] }}"></iframe>
            </div>

        {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>